In [1]:

import pandas as pd 

#importo dataset de prueba
test_data = pd.read_csv(
    "../files/input/test_data.csv.zip",
    index_col=False,
    compression="zip",
)
# importo dataset de entrenamiento
train_data = pd.read_csv(
    "../files/input/train_data.csv.zip",
    index_col=False,
    compression="zip",
)

# - Cree la columna 'Age' a partir de la columna 'Year'.
#   Asuma que el a√±o actual es 2021.
test_data['Age']=2021-test_data['Year']
train_data['Age']=2021-train_data['Year']


# - Elimine las columnas 'Year' y 'Car_Name'.
test_data=test_data.drop(columns=['Year','Car_Name'])
train_data=train_data.drop(columns=['Year','Car_Name'])

In [2]:

x_train=train_data.drop(columns="Present_Price")
y_train=train_data["Present_Price"]


x_test=test_data.drop(columns="Present_Price")
y_test=test_data["Present_Price"]


x_test.head()

   Selling_Price  Driven_kms Fuel_Type Selling_type Transmission  Owner  Age
0           4.75       43000    Diesel       Dealer       Manual      0    8
1           7.25        6900    Petrol       Dealer       Manual      0    4
2           2.85        5200    Petrol       Dealer       Manual      0   10
3           6.75       18796    Petrol       Dealer       Manual      0    6
4           6.50       33429    Diesel       Dealer       Manual      0    6